@import '../../../variables';

.todo-list__main-list-content--item {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  width: 100%;
  padding: 1rem;

  background: $gray400;
  border-radius: .5rem;

  .main__list-content_item-body {
    display: flex;
    gap: 1rem;
    align-items: center;

    input {
       /* Tamanho e borda padrão */
       width: 1.5rem;
       min-width: 1.5rem;
       height: 1.5rem;

       border: 2px solid $blue100;
       background-color: transparent;
       border-radius: 50%;

       /* Ocultar visualmente o input padrão */
       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;

       cursor: pointer;

       &:checked {
         /* Estilo quando o input estiver selecionado */
         border-color: $blue100;
         background-color: $blue100;

         background-image: url('../../../../imgs/check.svg');
         background-position: center;
         background-size: cover;

         &~p {
          text-decoration: line-through;
          color: $gray300;
         }
       }
    }

    p {
      max-width: 485px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical; 

      font-size: .875rem;
    }
  }

  .main__list-content_item-buttons--delete {
    cursor: pointer;
    background-color: transparent;
    border: none;

    width: 2rem;

    img  {
      width: 2rem;
      height: 2rem;
    }
  }
}